body{
    text-align: center;
    padding: 0;
    margin: 0;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  #closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #closeModal:hover,
  #closeModal:focus {
    color: black;
    text-decoration: none;
  }
  
  #openModal:focus + #modal,
  #modalContent:focus-within {
    display: block;
  }
  
  #modal:focus {
    display: none;
  }
  